# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# MongoDB Data
data/

# Logs
logs/
*.log

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de build
dist/
build/

# Diretórios do editor
.vscode/
.idea/

# Arquivos de configuração do editor
*.sublime-workspace
*.sublime-project
